@media screen and (min-width: 1200px) {
  .article-container {
    margin: 1rem 1rem;
    display: flex;
    max-width: 1500px;
    height: fit-content;
    background-color: #fbf7e3;
    border: 1px solid #fbf7e3;
    border-radius: 20px;
  }

  .article-container img {
    width: 50%;
    margin-block: 1.5rem;
    margin-inline: 1.5rem;
  }

  .article-container h1 {
    margin-block-start: 2.5rem;
    margin-block-end: 1.5rem;
  }

  .article-container p {
    margin-right: 1.5rem;
  }
}
@media screen and (max-width: 1199px) {
  .article-container {
    margin: 1rem 1rem;
    display: flex;
    flex-direction: column;
    max-width: 1199px;
    height: fit-content;
    background-color: #fbf7e3;
    border: 1px solid #fbf7e3;
    border-radius: 20px;
    align-items: center;
  }

  .article-container > div {
    display: flex;
    flex-direction: column;
    align-items: center; /*align item si da al contenitore, l'h1 sta al centro anche se dovrebbe stare a sinistra, dovrei cambiare la struttura dell'html! */
  }

  .article-container img {
    width: 90%;
    margin-block-start: 1.5rem;
    margin-block-end: 2.5rem;
    order: 1;
  }

  .article-container h1 {
    margin-block-start: 2.5rem;
    margin-block-end: 1.5rem;
  }

  .article-container p {
    width: 90%;
  }
}
