.nav-container {
  margin: 1rem 1rem;
  display: flex;
  max-width: 1200px;
  height: 200px;
  background-color: #fbf7e3;
  border: 1px solid #fbf7e3;
  border-radius: 100px;
  overflow: hidden;
}

.nav-container button:nth-child(1),
.nav-container button:nth-child(2),
.nav-container button:nth-child(4),
.nav-container button:nth-child(5) {
  width: 130px;
  height: 30%;
  margin: auto;
  background-color: #f3df85;
  border-radius: 60px;
  border: none;
  font-family: inherit;
  color: inherit;
  font-size: 20px;
  font-weight: 400;
}

.main-button {
  display: flex;
  width: 260px;
  height: 60%;
  margin: auto;
  background-color: #f3df85;
  border-radius: 60px;
  border: none;
  font-family: inherit;
  color: inherit;
  font-size: 16px;
  font-weight: 600;
  align-items: center;
}

.main-button img {
  width: 80px;
  height: 50%;
  margin-left: 1rem;
  margin-right: 2rem;
}

.main-button span {
  font-size: 32px;
  font-weight: 700;
}
